---
import InvitationsLayout from '@/templates/Invitations.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';

const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.update(guestId, {
  confirmed: false,
  genre: ''
});

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}

export const prerender = false;

---

<InvitationsLayout head={{ title, description }}>
  <h1 class="text-4xl font-bold caveat-cursive">{guest?.name}</h1>
  <p class="text-4xl p-4">
    lastima que no nos puedas acompañar :c
  </p>
</InvitationsLayout>
