---
import InvitationsLayout from '@/templates/Invitations.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';
import { FooterInvite, GenderRevealFlags } from '@/components';

const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.update(guestId, {
  confirmed: false,
  genre: ''
});

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}

export const prerender = false;

---

<InvitationsLayout head={{ title, description }}>
  <section class="rounded-2xl bg-white scale-90">
    <GenderRevealFlags />
    <div class="flex justify-center pt-4">
      <p class="text-3xl uppercase tracking-widest">
        {guest?.name}
      </p>
    </div>

    <div class="flex justify-center pb-8 pt-4 pr-4 pl-4">
      <p class="text-md tracking-widest">
        No hay problema si no puedes asistir al evento de revelación,
        lo importante es que estés con nosotros en espíritu.
      </p>
    </div>

    <div class="flex justify-center pb-8 pt-4 pr-4 pl-4">
      <p class="text-md tracking-widest">
        Esperamos verte pronto y compartir contigo nuestras alegrías.
      </p>
    </div>

    <div class="flex justify-center pt-8">
      <p class="uppercase tracking-widest">
        Un abrazo!
      </p>
    </div>
    <FooterInvite/>
  </section>
</InvitationsLayout>
