---
import BaseCarta from '@/templates/BaseCarta.astro';
import { AppConfig } from '@/utils/AppConfig';


const { title } = AppConfig;
const { description } = AppConfig;
---

<style>
  .typewritter h3 {
    color: white;
    overflow: hidden;
    border-right: 0.15em solid lightgreen;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
  }
 </style>

<BaseCarta head={{ title, description }}>
  <div class="flex flex-col justify-center items-center h-screen text-white px-4">
    <img src="/assets/images/fridukyo.webp" alt="Imagen" class="mx-auto my-4 rounded transition duration-400 ease-in-out" style="max-width: 300px;">
    <div class="max-w-lg mb-8">
      <h3 class="mb-4">Amooor quiero decirte que ser tu novio es un gran honor te lo juro</h3>
    </div>
    <a href="/carta1/" class="bg-white hover:bg-blue-700 text-black font-bold py-2 px-4 rounded transition duration-300 ease-in-out">Ira ven</a>
  </div>
</BaseCarta>
