---
import type { IFrontmatter } from 'astro-boilerplate-components';
import Base from '@/templates/Base.astro';
import { Whoiam } from '@/partials/Whoiam';
import { RecentPosts } from '@/partials/RecentPosts';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
const totalPosts = allPosts.length;
const sortedPosts = sortByDate(allPosts);
const lastThreePosts = sortedPosts.slice(0, 6);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Whoiam />
  <a href="/about/">Todas las publicaciones() →</a>

  <RecentPosts postList={lastThreePosts} totalPosts={totalPosts}/>
</Base>
