---
import InvitationsLayout from '@/templates/Invitations.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getXataClient } from '@/database/xata';

const { title } = AppConfig;
const { description } = AppConfig;
const guestId = Astro.params.guest;

const xata = getXataClient();
const guest = await xata.db.guests.update(guestId, {
  genre: 'girl',
});

export async function getStaticPaths() {
  const xata = getXataClient();
  const guests = await xata.db.guests
  .select(["id", "name", "event_id", "confirmed"])
  .getAll()

  return guests.map(guest => {
    return {
      params: {
        guest: guest.id
      }
    }
  })
}
---

<InvitationsLayout head={{ title, description }}>
  <div class="container mx-auto p-4 pt-6 md:p-6 lg:p-12">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold p-4">{guest?.name}</h1>
    <p class="text-4xl p-4">Eres team Joel!</p>
    <p class="text-2xl">Entonces te esperamos en punto de las 12pm en: </p>
    <p class="text-2xl">Guarda el evento en tu calendario</p>
    <p class="text-2xl">Nos vemos ahí!</p>
  </div>
  </div>
</InvitationsLayout>
